data-migration-infra-main/infra/data-etl/stepfunctions/sf_customer_staging_to_migration.asl.json
{
  "Comment": "Step function to move customer data from staging to migrationdb",
  "StartAt": "Athena StartQueryExecution Delete Migration Customer",
  "States": {
    "Athena StartQueryExecution Delete Migration Customer": {
      "Next": "Start Job staging-migration",
      "Parameters": {
        "QueryString": "DELETE from uat_migrationdb.customer",
        "WorkGroup": "primary"
      },
      "Resource": "arn:aws:states:::athena:startQueryExecution",
      "ResultPath": "$.response",
      "Type": "Task"
    },
    "Start Job staging-migration": {
      "Next": "Lambda reconciliation staging to migration",
      "Parameters": {
        "Arguments": {
          "--execution_id.$": "$.AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID"
        },
        "JobName": "gft-dm-customer-staging-migrationdb"
      },
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "ResultPath": "$.response",
      "Type": "Task"
    },
    "Lambda reconciliation staging to migration": {
      "Next": "Choice",
      "Parameters": {
        "FunctionName": "gft-dm-lambda-customer-reconciliation-staging-migration",
        "Payload": {
          "executionId.$": "$.AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID"
        }
      },
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.response",
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3
        }
      ],
      "Type": "Task"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "NumericEquals": 200,
            "Variable": "$.response.Payload.statusCode"
          },
          "Next": "Fail"
        }
      ],
      "Default": "Success"
    },
    "Fail": {
      "Type": "Fail"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}