data-migration-infra-main/infra/data-etl/stepfunctions/sf_global_migration_customer_demo.asl.json
{
    "Comment": "A description of my state machine",
    "StartAt": "Lambda Start Logs",
    "States": {
      "Lambda Start Logs": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "FunctionName": "gft-dm-lambda-start-stop-dates",
          "Payload": {
            "time_execution": "START",
            "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
          }
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 1,
            "MaxAttempts": 3,
            "BackoffRate": 2
          }
        ],
        "Next": "Athena Delete Retry Policy 0"
      },
      "Athena Delete Retry Policy 0": {
        "Type": "Task",
        "Resource": "arn:aws:states:::athena:startQueryExecution",
        "Parameters": {
          "QueryString": "DELETE from uat_migrationdb.retry_policy",
          "WorkGroup": "primary"
        },
        "Next": "Step Functions Execute Producer Customer"
      },
      "Step Functions Execute Producer Customer": {
        "Type": "Task",
        "Resource": "arn:aws:states:::states:startExecution.sync:2",
        "Parameters": {
          "StateMachineArn": "arn:aws:states:ap-southeast-1:699955796816:stateMachine:gft-dm_sf_deploying_job_producer_customer",
          "Input": {
            "StatePayload": "Hello from Step Functions!",
            "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id",
            "query": "SELECT * FROM CUSTOMER",
            "size": "50"
          }
        },
        "Next": "Step Functions StartExecution Retry Listener Customer"
      },
      "Step Functions StartExecution Retry Listener Customer": {
        "Type": "Task",
        "Resource": "arn:aws:states:::states:startExecution.sync:2",
        "Parameters": {
          "StateMachineArn": "arn:aws:states:ap-southeast-1:699955796816:stateMachine:gft-dm_sf_retry_listener",
          "Input": {
            "StatePayload": "Hello from Step Functions!",
            "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id",
            "entity": "customer"
          }
        },
        "Next": "Lambda count master customers",
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Comment": "pass",
            "Next": "Step Functions Execute Customer Producer 2"
          }
        ]
      },
      "Lambda count master customers": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "Parameters": {
          "FunctionName": "arn:aws:lambda:ap-southeast-1:699955796816:function:gft-dm-lambda-count-unreconcilied-entities:$LATEST",
          "Payload": {
            "executionId.$": "$$.Execution.Id",
            "query": "SELECT count(*) FROM master_customer "
          }
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 1,
            "MaxAttempts": 3,
            "BackoffRate": 2
          }
        ],
        "Next": "Choice",
        "ResultPath": "$.response"
      },
      "Choice": {
        "Type": "Choice",
        "Choices": [
          {
            "Not": {
              "Variable": "$.response.Payload.statusCode",
              "NumericEquals": 200
            },
            "Next": "Lambda End Logs"
          }
        ],
        "Default": "Lambda End Logs"
      },
      "Step Functions Execute Customer Producer 2": {
        "Type": "Task",
        "Resource": "arn:aws:states:::states:startExecution.sync:2",
        "Parameters": {
          "StateMachineArn": "arn:aws:states:ap-southeast-1:699955796816:stateMachine:gft-dm_sf_deploying_job_producer_customer",
          "Input": {
            "StatePayload": "Hello from Step Functions!",
            "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id",
            "query": "SELECT * FROM CUSTOMER where id not in (SELECT id FROM reconciliation_customer)",
            "size": "1"
          }
        },
        "Next": "Athena Delete Retry Policy 2"
      },
      "Athena Delete Retry Policy 2": {
        "Type": "Task",
        "Resource": "arn:aws:states:::athena:startQueryExecution",
        "Parameters": {
          "QueryString": "DELETE from uat_migrationdb.retry_policy",
          "WorkGroup": "primary"
        },
        "Next": "Wait"
      },
      "Wait": {
        "Type": "Wait",
        "Seconds": 15,
        "Next": "Step Functions StartExecution Retry Listener Customer"
      },
      "Lambda End Logs": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "FunctionName": "arn:aws:lambda:ap-southeast-1:699955796816:function:gft-dm-lambda-start-stop-dates:$LATEST",
          "Payload": {
            "time_execution": "STOP",
            "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
          }
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 1,
            "MaxAttempts": 3,
            "BackoffRate": 2
          }
        ],
        "End": true
      }
    }
  }