data-migration-infra-main/infra/data-etl/stepfunctions/sf_invoke_crawler.asl.json
{
    "Comment": "A utility state machine to run a glue crawler and monitor it until completion",
    "StartAt": "StartCrawler",
    "States": {
      "GetCrawler": {
        "Next": "Is Running?",
        "Parameters": {
          "Name.$": "$.crawler_name"
        },
        "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler",
        "ResultPath": "$.response.get_crawler",
        "Retry": [
          {
            "BackoffRate": 2,
            "ErrorEquals": [
              "States.ALL"
            ],
            "IntervalSeconds": 1,
            "MaxAttempts": 8
          }
        ],
        "Type": "Task"
      },
      "Is Running?": {
        "Choices": [
          {
            "Next": "Wait for Crawler To Complete",
            "Or": [
              {
                "StringEquals": "RUNNING",
                "Variable": "$.response.get_crawler.Crawler.State"
              },
              {
                "StringEquals": "STOPPING",
                "Variable": "$.response.get_crawler.Crawler.State"
              }
            ]
          }
        ],
        "Default": "Prepare Output",
        "Type": "Choice"
      },
      "Prepare Output": {
        "End": true,
        "Parameters": {
          "LastCrawl.$": "$.response.get_crawler.Crawler.LastCrawl",
          "crawler_name.$": "$.crawler_name"
        },
        "Type": "Pass"
      },
      "StartCrawler": {
        "Catch": [
          {
            "Comment": "Crawler Already Running, just continue to monitor",
            "ErrorEquals": [
              "Glue.CrawlerRunningException"
            ],
            "Next": "GetCrawler",
            "ResultPath": "$.response.start_crawler"
          }
        ],
        "Next": "GetCrawler",
        "Parameters": {
          "Name.$": "$.crawler_name"
        },
        "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
        "ResultPath": "$.response.start_crawler",
        "Retry": [
          {
            "BackoffRate": 1,
            "Comment": "EntityNotFoundException - Fail immediately",
            "ErrorEquals": [
              "Glue.EntityNotFoundException"
            ],
            "IntervalSeconds": 1,
            "MaxAttempts": 0
          },
          {
            "BackoffRate": 1,
            "ErrorEquals": [
              "Glue.CrawlerRunningException"
            ],
            "IntervalSeconds": 1,
            "MaxAttempts": 0
          }
        ],
        "Type": "Task"
      },
      "Wait for Crawler To Complete": {
        "Next": "GetCrawler",
        "Seconds": 5,
        "Type": "Wait"
      }
    }
  }