data-migration-infra-main/infra/data-etl/stepfunctions/sf_retry_listener.asl.json
{
    "Comment": "A description of my state machine",
    "StartAt": "Lambda Invoke",
    "States": {
      "Lambda Invoke": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "Parameters": {
          "FunctionName": "${lambda_retry}",
          "Payload": {
            "entity.$": "$.entity",
            "executionId.$": "$.AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID"
          }
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 1,
            "MaxAttempts": 3,
            "BackoffRate": 2
          }
        ],
        "Next": "Choice",
        "ResultPath": "$.response"
      },
      "Choice": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.response.Payload.statusCode",
            "NumericEquals": 200,
            "Next": "Success"
          },
          {
            "Variable": "$.response.Payload.statusCode",
            "NumericEquals": 400,
            "Next": "Wait"
          },
          {
            "Variable": "$.response.Payload.statusCode",
            "NumericEquals": 404,
            "Next": "Fail"
          }
        ],
        "Default": "Success"
      },
      "Success": {
        "Type": "Succeed"
      },
      "Wait": {
        "Type": "Wait",
        "Seconds": 15,
        "Next": "Lambda Invoke"
      },
      "Fail": {
        "Type": "Fail"
      }
    }
  }